{
  "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "jquery": true,
    },
    "extends": "jquery",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    }
}
