<a class="post-card" href="{{ tile.link }}" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  {% if tile.image %}
  <figure class="post-card__thumb">
    <img
      src="{{site.url}}/assets/img/{{tile.image}}",
      class="lazyload blur"
      alt="{{tile.headline}}"
    />
    <noscript><img src="{{site.url}}/assets/img/{{tile.image}}" alt="{{ tile.headline }}"></noscript>
  </figure>
  {% else %}
  <figure class="post-card__thumb">
    <div class="dark-bg"></div>
  </figure>
  {% endif %}
  <div class="post-card__inner">
    <div class="post-card__header">
      <h2>{{ tile.headline }}</h2>
      <span class="post-card__meta">
        <time>{{ tile.subtitle }}</time>
      </span>
    </div>
    {% if tile.description %}
      <p>{{ tile.description }}</p>
    {% endif %}
  </div>
</a>
