<footer>
  <div class="container">
    <div class="widget">
      <p>&copy; {{ site.time | date: '%Y' }} Sleek. All rights reserved.</p>
      <div class="legal">
        <ul>
          <li><a href="{{site.url}}/privacy">Privacy policy</a></li>
          <li><a href="{{site.url}}/sitemap.xml" target="_blank" rel="noopener">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <div class="widget">
      <h4>Social</h4>
      <ul class="social">
        <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" target="_blank" rel="noopener external">LinkedIn</a></li>
        <li><a href="http://www.behance.net/{{site.behance}}" target="_blank" rel="noopener external">Behance</a></li>
        <li><a href="http://codepen.io/hollow3d/" target="_blank" rel="noopener external">Codepen</a></li>
      </ul>
    </div>
    <div class="widget">
      <h4>Contact</h4>
      <ul>
        <li><a href="tel:+86-131-6700-7112">{{site.phone}}</a></li>
        <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
      </ul>
    </div>
  </div>
</footer>
<a class="to-top">
  <?xml version="1.0" encoding="utf-8"?>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 32.2 17.1" style="enable-background:new 0 0 32.2 17.1;" xml:space="preserve">
  <g>
  	<path class="st1" d="M16.1,1l15.1,15.1 M16.1,1L1,16.1"/>
  </g>
  </svg>
</a>
<script src="/assets/js/bundle.js" async></script>
