<div class="modal" role="dialog">
  <div class="modal__inner" role="document" tabindex="-1">
    <div class="modal__content">
      <button class="modal__close-button js-modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"><defs><path id="a" d="M12 11.033L7.167 6.2a.684.684 0 1 0-.967.967L11.033 12 6.2 16.833a.684.684 0 0 0 .967.967L12 12.967l4.833 4.833a.684.684 0 1 0 .967-.967L12.967 12 17.8 7.167a.684.684 0 0 0-.967-.967L12 11.033z"/></defs><use fill="fillColor" xlink:href="#a" fill-rule="evenodd"/></svg>
      </button>
      <div class="modal__body">
      </div>
    </div>
  </div>
  <div class="modal__overlay"></div>
</div>
