#about {
  svg {
    width: 11px;
    height: 11px;
    margin-left: 2px;
    margin-right: 6px;
  }
  .about-left {
    .title {
      margin-bottom: 47px;
      @include breakpoint($md) {
        text-align: left;
        &:after {
          left: 0;
          transform: translateX(0);
        }
      }
    }
    .btn {
      margin: 0 auto;
    }
  }
  .about-right {
    h3 {
      text-align: center;
    }
    img {
      position: relative;
      border-radius: 50%;
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        font-size: 0.875em;
        a {
          color: inherit;
          &:hover {
            color: $primary-light;
          }
        }
      }
    }
  }
}
