$nav-heigth: 58px;
#hero {
  position: relative;
  height: 100vh;
  .intro {
    position: absolute;
    top: calc(50% + #{$nav-heigth});
    width: 100%;
    left: 0;
    text-align: center;
    transform: translate(0%, -50%);
    .effect {
      display: inline-block;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.9rem;
      margin: 0px auto 20px auto;
      max-width: 30em;
      color: $heading-color;
      line-height: 1!important;
      transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
      .active {
        background-position: 0 0;
      }
      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #eaeaea;
        transform-origin: left;
        transform: scaleX(0);
        z-index: 2;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background: #222;
        z-index: 2;
        transform-origin: left;
        transform: scaleX(0);
      }
    }
    .lead {
      margin-bottom: 50px;
    }
  }
  .scroll {
    color: #000;
    position: absolute;
    left: 50%;
    bottom: 10px;
    padding: 20px;
    transform: translateX(-50%);
    opacity: 0.35;
    cursor: s-resize;
    &:after {
      display: none;
    }
    div {
      font-size: .875rem;
      text-align: center;
      transform: rotate(-90deg);
      margin-bottom: 10px;
    }
    .down {
      position: relative;
      display: inline-block;
      background: #000;
      height: 1px;
      top: 16px;
      width: 45px;
      transform: rotate(-90deg);
    }
  }
}

.effect {
  display: inline-block;
  position: relative;
 -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #222 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size:200% 100%;
  transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
}

.effect.active {
  background-position: 0 0;
  &:before {
    animation: anime 1.2s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
  }
  &:after {
    animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
  }
}
.effect:before{
  content: "";
  height: 100%;
  width: 100%;
  background: #eaeaea;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect:after{
  content: "";
  height: 100%;
  width: 100%;
  background: #222;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;left: 0;
  transform-origin: left;
  transform: scaleX(0);
}

@keyframes anime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51%{
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s all ease-out 2s;
}
a.fade {
  transition: 0.6s all ease-out 2.6s;
}
.fade.active {
  transform: translateY(0);
  opacity: 1;
}
