.hero {
  margin: 3.75rem auto 0;
  min-height: 20rem;
  width: 100%;
  position: relative;
  background-color: $dark-blue;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  @include breakpoint($md) {
    min-height: 24rem;
  }

  @include breakpoint($lg) {
    margin: 0 auto;
    height: 36em;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 56, 81, .8);
  }
}

.hero--small {
  margin: 3.75rem auto 0;
  min-height: 8.75rem;
  width: 100%;
  position: relative;
  background-color: $dark-blue;

  @include breakpoint($lg) {
    height: 12.5em;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 56, 81, .8);
  }
}

.hero__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 90%;
  z-index: 1;

  @include breakpoint($md) {
    max-width: 40em;
  }

  @include breakpoint($lg) {
    max-width: 60em;
  }

  .hero__title {
    font-size: 2.3em;
    color: $bg-color;


    @include breakpoint($md) {
      font-size: 3em;
      line-height: 3.4rem;
    }

    @include breakpoint($lg) {
      font-size: 3.4em;
    }
  }
}

.hero__meta {
  font-size: 1rem;

  @include breakpoint($md) {
    font-size: 1.4rem;
  }

  @include breakpoint($lg) {
    padding-top: 1.5rem;
    font-size: 1.8rem;
  }
}

.page-content {
  max-width: 52.5rem;
  margin: 0 auto;
  padding: 2.5em 0;
  background-color: $bg-color;

  @include breakpoint($md) {
    padding: 3.75rem 0;
  }
}

.blog {
  background-color: #f9f9f9;
}

.post-list {
  padding-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;

  @include breakpoint($md) {
    padding-top: 5em;
  }
}

#home-text {
  width: 100%;
  padding: 2rem 0 2rem;
  box-shadow:inset 0 0 0 2000px rgba(36,23,95,0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include breakpoint($md) {
    padding: 4rem 0 4rem;
  }

  @include breakpoint($lg) {
    padding: 6rem 0 6rem;
  }

  h2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.4rem;
    margin-bottom: 1.4rem;

    @include breakpoint($md) {
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
    }

    @include breakpoint($lg) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  p {
    color: #ffffff;
    font-size: 1rem;

    @include breakpoint($md) {
      font-size: 1.15rem;
    }

    @include breakpoint($lg) {
      font-size: 1.3rem;
    }
  }

  a {
    border: none;
    color: $light-blue;
  }
}

div.three-column-container {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

div.third-column {
  display: block;
  width: 100%;

  @include breakpoint($md) {
    width: 48.4375%;
    margin-right: 3.125%;

    &:last-of-type,
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  @include breakpoint($xl) {
    width: 31.25%;
    margin-right: 3.125%;

    &:nth-child(2n+2) {
      margin-right: 3.125%;
    }

    &:last-of-type,
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}

div.two-column-container {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

div.half-column {
  display: block;
  width: 100%;

  @include breakpoint($md) {
    width: 48.4375%;
    margin-right: 3.125%;

    &:last-of-type,
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}
