#projects {

  @include breakpoint($md) {
    padding-bottom: 120px;
  }

  figure {
    color: $bg-color;
    position: relative;
    margin: 0;
    overflow: hidden;

    h3,
    p {
      margin: 0;
      padding: 0;
    }

    h3 {
      text-transform: uppercase;
      letter-spacing: 3px;
      position: relative;

      &::after {
        position: absolute;
        height: 1px;
        width: 100%;
      }
    }
  }

  a {
    cursor: pointer;

    figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: rgba(33, 33, 33, 0.8);
      padding: 25%;
      margin-bottom: 5px; // quick fix for caption going outside
      text-align: center;
      transition: all .3s ease-in-out;

      &:hover {
        display: block;
        opacity: .8;
      }

      h3,
      p {
        color: $bg-color;
      }
    }
  }
}
