#skills {
  .skills {
    text-align: center;
  }
  h3 {
    margin-top: 20px;
  }
  .circle {
    position: relative;
    padding: 25px 25px;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    background-color: $heading-color;
    border-radius: 50%;
    svg {
      fill: $bg-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35px;
      height: auto;
    }
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
}
