@mixin clearfix {
  &::before {
    content: "";
    display: table;
    clear: both;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin heading-font {
  font-weight: 400;
}

@mixin text-font {
  font-weight: 300;
 }
