table {
  display: table;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1.25rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14.5px;

  th {
    background-color: #f5f5f5;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
}
