@font-face {
    font-family: 'Brown';
    src: url("/assets/fonts/brown/brown-regular-webfont.eot");
    src: url("/assets/fonts/brown/brown-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/brown/brown-regular-webfont.woff2") format("woff2"),
         url("/assets/fonts/brown/brown-regular-webfont.woff") format("woff"),
         url("/assets/fonts/brown/brown-regular-webfont.ttf") format("truetype"),
         url("/assets/fonts/brown/brown-regular-webfont.svg#brownregular") format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Brown';
    src: url("/assets/fonts/brown/brown-regular-italic-webfont.eot");
    src: url("/assets/fonts/brown/brown-regular-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/brown/brown-regular-italic-webfont.woff2") format("woff2"),
         url("/assets/fonts/brown/brown-regular-italic-webfont.woff") format("woff"),
         url("/assets/fonts/brown/brown-regular-italic-webfont.ttf") format("truetype"),
         url("/assets/fonts/brown/brown-regular-italic-webfont.svg#brownregular_italic") format("svg");
    font-weight: normal;
    font-style: italic
}
@font-face {
    font-family: 'Brown';
    src: url("/assets/fonts/brown/brown-light-italic-webfont.eot");
    src: url("/assets/fonts/brown/brown-light-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/brown/brown-light-italic-webfont.woff2") format("woff2"),
         url("/assets/fonts/brown/brown-light-italic-webfont.woff") format("woff"),
         url("/assets/fonts/brown/brown-light-italic-webfont.ttf") format("truetype"),
         url("/assets/fonts/brown/brown-light-italic-webfont.svg#brownlight_italic") format("svg");
    font-weight: 300;
    font-style: italic
}
@font-face {
    font-family: 'Brown';
    src: url("/assets/fonts/brown/brown-light-webfont.eot");
    src: url("/assets/fonts/brown/brown-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/brown/brown-light-webfont.woff2") format("woff2"),
         url("/assets/fonts/brown/brown-light-webfont.woff") format("woff"),
         url("/assets/fonts/brown/brown-light-webfont.ttf") format("truetype"),
         url("/assets/fonts/brown/brown-light-webfont.svg#brownlight") format("svg");
    font-weight: 300;
    font-style: normal
}
