.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.title {
  position: relative;
  margin: 0 0 85px;
  text-align: center;
  text-transform: capitalize;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 50px;
    height: 2px;
    background-color: $primary;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}
