// General
body {
  background-color: $bg-color;
  font-family: "Helvetica","Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  @include text-font;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.fonts-loaded body {
  font-family: 'Brown',"Helvetica","Arial", sans-serif;
}


::selection {
  color: #fff;
  background-color: #414141;
}

hr {
  color: $heading-color;
  margin-top: 30px;
  background-color: $heading-color;
  height: 1px;
  width: 106px;
  border: 0;
}
// Reboot
p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
// Typography
h1, h2, h3, h4, h5, h6 {
  @include heading-font;
  color: $heading-color;
  margin-top: 0;
  margin-bottom: .5rem;
}

//reset link
a {
  color: inherit;
  &:active, :focus {
    outline: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color .2s linear;
  &:hover, :focus {
    color: $primary-light;
  }
}

a.link {
  position: relative;
  display: inline-block;
  color: $link-color;
  transition: color 0.2s linear;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 1px;
    width: 0;
    background: $link-color;
    transition: all 0.2 ease-in-out;
  }
  &:hover {
    color: darken($link-color, 20%);
  }
  &:hover:after, :active:after, :focus:after {
    width: 100%;
    color: darken($link-color, 20%);
    transition: all .35s cubic-bezier(.694,.048,.335,1);
  }
}

em {
  font-style: italic;
}

abbr[title] {
  text-decoration: none;
}

mark {
    background: #ff0;
    color: $heading-color;
}

code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: $code-text-color;
  background-color: $code-bg-color;
  border-radius: 0.3rem;
}

pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: $code-text-color;
  word-wrap: normal;
  background-color: $code-bg-color;
  border: solid 1px $border-color;
  border-radius: 0.3rem;

  > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: $code-text-color;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}
